@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* height: 478px; */
}

.nav-list{
    display: flex;
    width: 70%;
    height: 50%;
    /* background-color: black; */
     justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 23px;
    
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;

}

.rightnav{
    /* background-color: blue; */
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

.search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid blue;
    border-radius: 10px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url("bg.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 100%;
}


.firstsection{
    height: 100vh;
}

.firsthalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf{
    width: 30%;
}

.secondhalf img{
    width: 100%;
    height: 70%;
    padding: 40px 0;
    /* border: 2px solid white; */
    border-radius: 150px;
    display: block;
    margin: auto;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    height: 80%;
    margin: auto;
}

.big-text{
   font-size: 41px; 
}

.small-text{
    font-size: 15px;
}

.btn{
    padding: 8px 20px;
    margin: 8px 2px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 14px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    /* padding: 8px 20px;
    margin: 8px 2px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 14px;
    background: none;
    color: white;
    cursor: pointer; */
    padding: 5px 10px;
    vertical-align: middle;
}

.section{
    display: flex;
    /* height: 400px; */
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 80%;
    font-family: 'Ubuntu', sans-serif;
}

.secleft{
    flex-direction: row-reverse;
    margin: 10px;
}

.secleft img{
    margin: 155px;
}

.imageFluid{
    width: 60%;
    height: 60%;
    margin-top: 19px;
    border: 2px solid black;
    border-radius: 23px;
}

.paras{
    padding: 0 10px;
}

.sectiontag{
    padding: 16px 0;
}

/* .sectionsubtag{
     margin: 75px; 
} */

.thumbnail img{
    width: 250px;
    /* height: 250px; */
}

.secleft img{
    height: 300px;
}

.contact{
    background-color: burlywood;
    height: 70vh;
}

.text-center{
    text-align: center;
    /* justify-content: center; */
    padding-top: 20px;
    font-size: 34px;
    font-family: 'Ubuntu', sans-serif;
}

.form{
    max-width: 60%;
    margin:  15px auto;
}

.form input{
    width: 100%;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 15px 0;
    padding: 5px 3px;
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
}
#text{
    width: 100%;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 15px 0;
    padding: 5px 3px;
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
}

.btn-dark{
    color: black;
    border: 2px solid grey;
}
.text-footer{
    text-align: center;
    /* justify-content: center; */
    padding: 20px 0;
    /* font-size: 34px; */
}

.burger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 3%;
}

.line{
    width: 30px;
    background-color: white;
    height: 4px;
    margin: 5px 7px;
    /* width: 30%; */
    /* text-align: right;
    padding: 0 23px; */
}

@media only screen and (max-width: 623px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 473px;
        transition: all 0.3s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .search{
        width: 100%;
        /* opacity: 0; */
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .visibility-resp{
        /* visibility: none; */
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .form{
        max-width: 60%;
    }
    /* .btn-dark{
        margin-bottom: 20px;
        padding: 10px;
    } */
    .big-text{
        text-align: center;
    }
    .small-text{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0%;
        text-align: left;
    }
}